DB_USER=Usuario de tu base de datos
DB_HOST=Host de tu base de datos
DB_PASSWORD=Contraseña de tu base de datos
DB_NAME=Nombre base de datos
DB_PORT=Puerto de tu base de datos
MAIL_USERNAME=Mail del restaurante
MAIL_PASSWORD=Contraseña de aplicación de tu mail
MAIL_DEFAULT_SENDER=Mail desde donde se enviaran los emails
FRONTEND_URL=La url donde corre el frontend
