{% extends 'login.html' %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/errores.css') }}">
{% endblock %}

{% block contenedor %}
<div class="login-header">
    <img src="{{ url_for('static', filename='Imagenes/fondo.jpg') }}" alt="Logo Flames" class="login-logo">
    <h1>Flames JB Admin</h1>
</div>
<section class="error-container">
    <div class="caja-error">
<h1 class="codigo-404">Error 404</h1>
        {% if usuario_autenticado %}
          <!-- Solo para admin -->
            <h2>Hola, {{ usuario_autenticado.nombre }}. Parece que esta sección del panel no existe.</h2>
            <a href="{{ url_for('admin.admin') }}" class="btn-volver-error verde">Volver al Panel de Admin</a>
        {% else %}
          <!-- Solo para usuario -->
            <p>Lo sentimos, la página que estás buscando no existe.</p>
            <a href="{{ url_for('inicio.inicio') }}" class="btn-volver-error verde">Volver al Inicio</a>
        {% endif %}
    </div>
</section>
{% endblock %}