{% extends 'base_admin.html' %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/errores.css') }}">
{% endblock %}

{% block titulo_seccion %}Error del Servidor{% endblock %}

{% block admin_content %}
<section class="error-container">
    <div class="caja-error">
        <h1 class="codigo-500">500</h1>
        <h2>Error interno del servidor</h2>
        <p>Ocurrió un problema inesperado en nuestro sistema. Ya estamos trabajando para solucionarlo lo antes posible.</p>

        <a href="{{ url_for('inicio.inicio') }}" class="btn-volver-error rojo">Volver al inicio</a>
    </div>
</section>
{% endblock %}