{% extends 'base_admin.html' %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-servicios.css') }}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/admin_servicios.js') }}"></script>
{% endblock %}

{% block titulo_seccion%}Admin servicios{% endblock %}
{% block admin_content %}
<section class="servicios-cuadro">
    <section class="Agregar-servicio">
        <button class="Agregar">Agregar servicio</button>
            <form action="{{ url_for('servicios_extra.agregar_servicio') }}" method="POST">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nservicio" placeholder="Nombre del servicio">
                <label for="descripcion"> Descripcion</label>
                <input type="text" id="descripcion" name="dservicio" placeholder="Descripcion">
                <button type="submit" name="accion" value="agregar">Enviar</button>
            </form>
    </section>
   <section class="lista-servicios">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id_servicio }}</td>
                <td>{{ servicio.nombre_servicio }}</td>
                <td>{{ servicio.descripcion }}</td>
                <td>
                    {% if servicio.activo == 1 %}
                         Activo
                    {% else %}
                         Inactivo
                    {% endif %}
                </td>
                <td>
                    <button type="button" class="btn-verde-modificar"
                                data-id="{{ servicio.id_servicio }}"
                                data-nombre="{{ servicio.nombre_servicio }}"
                                data-descripcion="{{ servicio.descripcion }}"
                                data-activo="{{ servicio.activo }}">
                            Modificar
                    </button>
                    <form action="{{ url_for('servicios_extra.eliminar_servicio', id=servicio.id_servicio) }}" method="POST"
                          class="form-eliminar">
                        <button type="submit" class="btn-rojo">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   </section>
</section>

<!-- Alertas despues de tocar botones -->
<div id="ventana-confirmacion" class="ventana-oculta">
    <div class="caja-confirmacion">

        <h3>¿Estás seguro?</h3>
        <p>
            Esta acción no se puede deshacer y la reseña se borrará permanentemente.
            <strong>(Si se desea solamente apagar el servicio, se puede realizar desde Modificar)</strong>
        </p>


        <div class="botones-ocultos">

            <button type="button" id="btn-cancelar" class="btn-gris">Cancelar</button>
            <button type="button" id="btn-confirmar" class="btn-rojo">Aceptar</button>

        </div>
    </div>
</div>
<div id="ventana-modificacion" class="ventana-oculta">
    <div class="caja-confirmacion">
        <h3>Modificar servicio</h3>
        <form id="form-modificar" action="{{ url_for('servicios_extra.modificar_servicio') }}"   method="POST">

            <input type="hidden" id="id_modificado" name="id_servicio">

            <label for="nombre_modificado">Nombre</label>
            <input type="text" id="nombre_modificado" name="nmservicio">

            <label for="descripcion_modificado">Descripcion</label>
            <input type="text" id="descripcion_modificado" name="dmservicio">

            <label for="activo_modificado">Estado del Servicio</label>
            <select id="activo_modificado" name="amservicio">
                <option value="True">Activo (Encendido)</option>
                <option value="False">Inactivo (Apagado)</option>
            </select>

            <div class="botones-ocultos">

                <button type="button" id="btn-cancelar-modificar" class="btn-gris">Cancelar</button>
                <button type="submit" name="accion" value="modificar" class="btn-verde">Guardar</button>

            </div>
        </form>
    </div>
</div>

{% endblock %}
