{% extends 'base_admin.html' %}
{% block estilos %} <link rel="stylesheet" href="{{url_for('static', filename='css/admin-reseñas.css')}}">{% endblock %}
{% block titulo_seccion %}Gestión de reseñas{% endblock %}

{% block admin_content %}

<div class="contenedor-busqueda">
    <form method="GET" action="{{ url_for('reseñas.admin_resenas') }}" class="form-busqueda"> <!--Asocia lo que obtuvimos en este form con la ruta del frontend de admin_resena-->
        <input type="email" name="email_buscado" placeholder="Buscar por email..." 
         value="{{ request.args.get('email_buscado', '') }}"> <!--esto es para que en el buscador se guarde lo que buscamos y no se borre una vez buscado-->
        <button type="submit" class="btn-verde">Buscar</button>
    </form>
    
    <a href="{{ url_for('reseñas.admin_resenas') }}" class="btn-limpiar" >Limpiar filtro</a> <!--te retorna al admin resenas sin ninguna query param, aparecen de nuevo todas las reseñas-->

    <form method="GET" action="{{url_for('reseñas.estadisticas_reseñas')}}" class="form-estadisticas">
        <button type="submit" class="btn-azul">Ver estadísticas reseñas</button>
    </form>
</div> 

{% if resultado | length == 0 %} <!--analiza el resultado obtenido en caso de que no se haya encontrado nignuna reseña con ese mail envia un mensaje-->
    <div>
        No se encontraron reseñas con ese mail asociado.
    </div>


{% else %}
<table class="tabla-admin">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Email</th>
            <th>Estrellas</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for reseña in resultado %}
        <tr>
            <td>{{ reseña.id_reseña }}</td>

            <td>{{ reseña.nombre_cliente }}</td>

            <td>{{ reseña.cliente_email }}</td>

            <td>{{ reseña.puntaje }}⭐</td>

            <td>{{ reseña.comentario }}</td>

            <td>{{ reseña.fecha_publicacion }}</td>

            <td>
                <form action="{{ url_for('reseñas.eliminar_reseña_frontend', id=reseña.id_reseña) }}" method="POST" class="form-eliminar">
                    <button type="submit" class="btn-rojo">
                        Eliminar
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<div class="contenedor-paginacion">
    
    {% if link_first %}
        <a href="{{ link_first.href }}" class="btn-paginacion">Primera</a>
    {% endif %}

    {% if link_prev %}
        <a href="{{ link_prev.href }}" class="btn-paginacion">Anterior</a>
    {% endif %}

    {% if link_next %}
        <a href="{{ link_next.href }}" class="btn-paginacion">Siguiente</a>
    {% endif %}

    {% if link_last %}
        <a href="{{ link_last.href }}" class="btn-paginacion">Última</a>
    {% endif %}
    
</div>

{% endif %}

<div id="ventana-confirmacion" class="ventana-oculta">
    <div class="caja-confirmacion">
        <h3>¿Estás seguro?</h3>
        <p>Esta acción no se puede deshacer y la reseña se borrará permanentemente.</p>
        
        <div class="botones-ocultos">
            <button type="button" id="btn-cancelar" class="btn-gris">Cancelar</button>
            <button type="button" id="btn-confirmar" class="btn-rojo">Aceptar</button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %} <script src="{{ url_for('static', filename='scripts/admin-reseñas.js') }}"></script> {% endblock %}