{% extends 'base_admin.html' %}
{% block titulo_seccion %}Gestión de reseñas{% endblock %}

{% block admin_content %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Email</th>
            <th>Puntaje</th>
            <th>Comentario</th>
            <th>Fecha</th>
            <th>Estado reserva</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

        {% for reseña in resultado %}
        <tr>
            <td>{{ reseña.id_reseña }}</td>

            <td>{{ reseña.nombre_cliente }}</td>

            <td>{{ reseña.cliente_email }}</td>

            <td>{{ reseña.puntaje }}</td>

            <td>{{ reseña.comentario }}</td>

            <td>{{ reseña.fecha_publicacion }}</td>

            <td>{{ reseña.estado_reserva }}</td>

            <td>
                <button>Eliminar</button>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}