<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script><!--extraigo la libreria de js, para el grafico en panel de control-->
    <title>Flames JB Admin</title>
    {% block estilos%} {% endblock %} 

</head>
<body class="admin-layout">
    <aside class="sidebar">
        <div class="sidebar-header">
            <img src="{{url_for('static', filename='Imagenes/fondo.jpg')}}"
            alt="Logo Flames"
            class="sidebar-logo">

            <span class="sidebar-title">
                Flames JB Admin
            </span>
        </div>
    <nav class="links_dashboard">
        <ul>
            <li>
                <a href="{{ url_for('admin.admin') }}"><img src="{{url_for('static', filename='Imagenes/menu1.png')}}" alt="" class="nav-icon">Panel de Control</a>
            </li>

            <li>
                <a href="{{ url_for('admin.admin') }}"><img src="{{url_for('static', filename='Imagenes/estadisticas.png')}}" alt="" class="nav-icon">Gestión del Menú</a>
            </li>

            <li>
                <a href="{{ url_for('reseñas.admin_resenas') }}"><img src="{{url_for('static', filename='Imagenes/star.png')}}" alt="" class="nav-icon">Reseñas</a>
            </li>
            <li>
                <a href="{{ url_for('admin.admin') }}"><img src="{{url_for('static', filename='Imagenes/servicios.png')}}" alt="" class="nav-icon">Servicios</a>
            </li>

            <li>
                <a href="{{ url_for('admin.admin') }}"><img src="{{url_for('static', filename='Imagenes/reservas.png')}}" alt="" class="nav-icon">Reservas</a>
            </li>

            <li>
                <a href="{{ url_for('admin.admin') }}"><img src="{{url_for('static', filename='Imagenes/dashboard.png')}}" alt="" class="nav-icon">Estadísticas</a>
            </li>

        </ul>

    </nav>
    <div class="sidebar-footer">
        <a href="{{ url_for('inicio.inicio') }}"> <img src="{{url_for('static', filename='Imagenes/back.png')}}" alt="" class="nav-icon">Volver a la Web</a>
    </div>
    </aside>

    <main class="main-content">
        <header class="topbar">
            <h1>{% block titulo_seccion %}{% endblock %}</h1> <!--aca ponen el titulo de su seccion-->
            <div class="user-profile">
                <span class="admin-avatar">{{ usuario_autenticado[0] | upper }}</span> <!--habria que ver luego cuando manejemos el inicio de sesion que s eguarde en alguna variable usuario, el nombre del usuario que inici sesion asi aparece su incial ahi arriba-->
            </div>
        </header>

        <div class="page-content">
            {% block admin_content %}{% endblock %} <!--aca el contenido de su seccion-->
        </div>
    </main>
    {% block scripts %} {% endblock %}
</body>
</html>