<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user.css">
    <title>Savoria</title>
</head>
<body>
    <div class="inicio">
        <a href="" class="links">Inicio</a>
        <a href="" class="links">Nuestro Menú</a>
        <a href="" class="links">Reseñas</a>
        <button class="reservar_mesa_2">Reservar mesa</button>
    </div>
    <div class="portada">
    <h1> Sabores auténticos,<br>momentos inolvidables</h1>
    <p>Descubre nuestra cocina de autor en un ambiente cálido e íntimo.<br>Una experiencia gastronómica diseñada para deleitar todos tus sentidos.</p>
    <button class="reservar_mesa">Reservar mesa ahora</button>
    </div>
    
</body>
</html>