<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user.css">
    <title>Savoria</title>
</head>
<body>
    <div class="portada">
        <img class="imagen_logo" src="../static/Imagenes/foto_logo.png" alt="Logo Flames JB">
        <div>
        <a href="" class="links_portada">Inicio</a>
        <a href="" class="links_portada">Nuestro Menú</a>
        <a href="" class="links_portada">Reseñas</a>
        <button class="boton_reservar_mesa_portada">Reservar mesa</button></div>
    </div>
    <div class="inicio">
        <h1> Sabores auténticos,<br>momentos inolvidables</h1>
        <p class="descripcion_restaurante">Descubre nuestra cocina de autor en un ambiente cálido e íntimo.<br>Una experiencia gastronómica diseñada para deleitar todos tus sentidos.</p>
        <button class="boton_reservar_mesa_inicio">Reservar mesa ahora</button>
    </div>
    <div class="menu">
        <h2>Nuestro menú</h2>
        <p>Nuestros platos con sus respectivos ingredientes</p>
        

    </div>
    <div class="reseñas">
        <h2>Reseñas recientes</h2>
        <p>Opiniones de nuestros clientes</p>

    </div>
    <div>
        <h3>Reserva tu mesa</h3>
        <p>Realiza la reserva en pocos pasos</p>
    </div>
    <div class="footer">
        <div class="columna1">
            <h4 class="nombre_restaurante">Flames JB</h4>
            <p class="descripcion_breve">Una experiencia gastronómica inolvidable donde <br> los ingredientes locales se encuentran con técnicas <br> modernas en un ambiente cálido e invitador.    
            </p>
        </div>
        <div class="columna2">
            <h4 class="contacto">Contacto</h4>
            <p class="ubicacion">📍   Av San juan 1234, Boedo</p>
            <p class="numero">📞   +54 9 11 3435-6787</p>
        </div>
    </div>   
</body>
</html>